# pip install -r requirements.txt

# Base ----------------------------------------

av==10.0.0
aiortc==1.4.0
matplotlib==3.5.1
numpy==1.22.3
opencv-python==4.5.3.56
pydub==0.25.1
streamlit==1.16.0
streamlit_webrtc==0.44.2
typing_extensions==4.1.1
tensorflow==2.15.0
protobuf>=3.19.0
pvcobra>=1.2.2
pvrecorder>=1.2.1
openvino>=2023.2.1
face-detectors==0.1.0
